/* body{
    margin: 30px;
}
.wrapper{
    display: flex;
    background-color: #fff;
    color: #444;
}
.box{
    background-color: #444;
    color: #444;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    height: 90vh;
    margin: 10px;
    font-size: 20px;
}

.task{
    background-color: pink;
    color: black;
    margin: 4px;
    padding: 5px;
} */
/* #foto1{
    background-image: url(./images/alma.jpg);
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    
}
#foto2{
    background-image: url(./images/armud.jpg);
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
}

#foto3{
    background-image: url(./images/biber.jpg);
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
}
#foto4{
    background-image: url(./images/ciyelek.jpg);
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;

}
#foto5{
    background-image: url(./images/kok.jpg);
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
}
#foto6{
    background-image: url(./images/pomidor.jpg);
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
}
.foto{
    margin: 5px;
} */






section{
    width: 1000px;
    height: 360px;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
}
div{
    width: 200px;
    height: 90%;
    padding: 20px;
    margin: 10px;
    background-color: #fafafa;
    box-sizing: border-box;
}
p{
    background-color: green;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}